html,
body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    padding: 0.5em;
    max-width: 100%;
    height: calc(100% - 1em);
    display: flex;
    flex-direction: column;
    word-wrap: normal;
}

h1 {
    font-size: 150%;
    margin: 0;
}

h1>a,
h1>a:hover,
h1>a:visited,
h1>a:active,
h1>a:focus {
    font-size: 100%;
    color: black;
    text-decoration: none;
}

a.link-btn,
a.link-btn:hover,
a.link-btn:visited,
a.link-btn:active,
a.link-btn:focus {
    font-size: 130%;
    text-decoration: none;
    padding: 0.2em;
    background-color: #0d90fa;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 1px 3px #aaa;
    width: 80%;
    display: inline-block;
    margin-bottom: 0.5em;
}