<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit {{ recipe.name }} - Onyo</title>
    {% include "_preamble.html" %}
    <style type="text/css">
        section,form {
            height: 100%;
        }

        textarea {
            width: 100%;
            height: 100%;
            font-size: 80%;
        }
    </style>
</head>

<body>
    <form id="form" method="POST">
    <main>
        <nav class="top-nav">
            <h1><a href=".">&#9001; Editing {{ recipe.name }}</a></h1>
            <input type="submit" class="btn" value="Save" />
        </nav>
        <section>
            <textarea name="recipe_yaml">{{recipe_yaml}}</textarea>
        </section>
        </main>
    </form>
</body>

</html>