<!DOCTYPE html>
<html lang="en">

<head>
    <title>Onyo</title>
    {% include "_preamble.html" %}
    <style type="text/css">
        .title-onyo {
            width: 20px;
            height: 20px;
        }
        .user {
            font-style: italic;
            color: lightgray;
        }
        section {
            text-align: center;
        }

        ul {
            padding-left: 1em;
        }

        li {
            list-style-type: none;
        }

        .idea-btn {
            background-color: #9a0dfa !important;
        }
    </style>
</head>

<body>
    <main>
        <nav>
            <h1>
                <img class="title-onyo" src="/onyo/static/logo192.png">
                Onyo
            </h1>
            <span class="user">
                {{ user.name or 'anonymous' }}
            </span>
        </nav>
        <section>
            <ul>
                {% for cat in categories.values()|sort(attribute='name') %}
                <li><a class="link-btn" href="/onyo/categories/{{cat.name}}">{{cat.name}}</a></li>
                {% endfor %}
                <li><a class="link-btn idea-btn" href="/onyo/ideas">💡 Ideas</a></li>
            </ul>
        </section>
    </main>
</body>

</html>