<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ category.name }} - Onyo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/onyo/static/logo192.png">
    <link rel="stylesheet" href="/onyo/static/style.css">
    <style type="text/css">
        section {
            text-align: center;
        }

        ul {
            padding-left: 1em;
        }

        li {
            list-style-type: none;
        }

        .icon-l {
            float: left;
            opacity: 0.6;
        }

        .icon-r {
            float: right;
            opacity: 0.6;
        }

        .control-btn {
            margin-left: 0.5em;
        }

        .detail {
            color: lightgray;
            font-size: 75%;
        }
    </style>
    <script type="text/javascript">
        function main() {
            let lastPick = -1;
            const randomBtn = document.getElementById('random-btn');
            const allBtn = document.getElementById('all-btn');
            const meals = document.querySelectorAll('section li');

            randomBtn.addEventListener('click', pickRandom);
            allBtn.addEventListener('click', showAll);

            function pickRandom() {
                lastPick = randomIndex(meals.length, lastPick);
                meals.forEach((m, i) => i === lastPick ? show(m) : hide(m));
                show(allBtn);
            }

            function showAll() {
                meals.forEach(show);
                hide(allBtn);
            }
        }

        function randomIndex(count, last) {
            for (; ;) {
                const pick = Math.floor(Math.random() * count);
                if (pick !== last || count === 1) {
                    return pick;
                }
            }
        }

        function show(e) {
            e.classList.remove('hidden');
        }

        function hide(e) {
            e.classList.add('hidden');
        }

        document.addEventListener('DOMContentLoaded', main);
    </script>
</head>

<body>
    <main>
        <nav>
            <h1><a href="/onyo">&#9001; {{ category.name }} <span class="detail">({{ category.recipes | length }})</span></a></h1>
            <a id="all-btn" class="control-btn hidden" href="#">Show all</a>
            <a id="random-btn" class="control-btn" href="#">Random</a>
        </nav>
        <section>
            <ul>
                {% for recipe in category.recipes %}
                <li>
                    <a class="link-btn" href="/onyo/recipes/{{recipe.id}}">
                        <span class="icon-l">{{recipe.icon}}</span>
                        <span>{{recipe.name}}</span>
                        <span class="icon-r">{{recipe.icon}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>

</html>