html,
body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

@media only screen and (min-width: 768px) {

    html,
    body {
        width: 768px;
    }
}

main {
    padding: 0.5em;
    max-width: 100%;
    height: calc(100% - 1em);
    display: flex;
    flex-direction: column;
    word-wrap: normal;
}

h1 {
    font-size: 150%;
    margin: 0;
}

h1>a,
h1>a:hover,
h1>a:visited,
h1>a:active,
h1>a:focus {
    font-size: 100%;
    color: black;
    text-decoration: none;
}

/* sections */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav>h1 {
    flex-grow: 1;
}

section {
    text-align: center;
}

/* buttons */

.btn,
.btn:hover,
.btn:visited,
.btn:active,
.btn:focus {
    display: inline-block;
    text-decoration: none;
    padding: 0.2em;
    border-radius: 5px;
    box-shadow: 0px 1px 3px #aaa;
    border: 0;
    cursor: pointer;
}

li .btn,
li .btn:hover,
li .btn:visited,
li .btn:active,
li .btn:focus {
    background-color: #0d90fa;
    color: white;
    font-size: 130%;
    width: 80%;
    margin-bottom: 0.5em;
}

nav .btn,
nav .btn:hover,
nav .btn:visited,
nav .btn:active,
nav .btn:focus {
    background-color: lightgray;
    color: black;
    font-size: 110%;
    margin-left: 0.5em;
    padding: 2px;
}

/* lists */
ol,
ul {
    padding-left: 1em;
}

li {
    list-style-type: none;
}

ol>li {
    list-style-type: unset;
}

/* toasts */

.toast {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em;
    border-radius: 0.5em;
}

.toast-success {
    background-color: rgba(47, 255, 82, 0.438);
    border: solid 1px rgba(5, 102, 24, 0.438);
}

/* colors */

.col0 {
    color: green;
    border-color: green;
}

.col1 {
    color: brown;
    border-color: brown;
}

.col2 {
    color: lightskyblue;
    border-color: lightskyblue;
}

.col3 {
    color: orange;
    border-color: orange;
}

.col4 {
    color: magenta;
    border-color: magenta;
}

.col5 {
    color: pink;
    border-color: pink;
}

.col6 {
    color: blue;
    border-color: blue;
}

.col7 {
    color: red;
    border-color: red;
}

/* misc */

.hidden {
    display: none !important;
}

.bold {
    font-weight: bold;
}
