html,
body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

@media only screen and (min-width: 768px) {

    html,
    body {
        width: 768px;
    }
}

main {
    padding: 0.5em;
    max-width: 100%;
    height: calc(100% - 1em);
    display: flex;
    flex-direction: column;
    word-wrap: normal;
}

h1 {
    font-size: 150%;
    margin: 0;
}

h1>a,
h1>a:hover,
h1>a:visited,
h1>a:active,
h1>a:focus {
    font-size: 100%;
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav>h1 {
    flex-grow: 1;
}

a.link-btn,
a.link-btn:hover,
a.link-btn:visited,
a.link-btn:active,
a.link-btn:focus {
    font-size: 130%;
    text-decoration: none;
    padding: 0.2em;
    background-color: #0d90fa;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 1px 3px #aaa;
    width: 80%;
    display: inline-block;
    margin-bottom: 0.5em;
}

a.control-btn,
a.control-btn:hover,
a.control-btn:visited,
a.control-btn:active,
a.control-btn:focus {
    font-size: 110%;
    text-decoration: none;
    padding: 2px;
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    box-shadow: 0px 1px 3px #aaa;
    display: inline-block;
}

.col0 {
    color: green;
    border-color: green;
}

.col1 {
    color: brown;
    border-color: brown;
}

.col2 {
    color: lightskyblue;
    border-color: lightskyblue;
}

.col3 {
    color: orange;
    border-color: orange;
}

.col4 {
    color: magenta;
    border-color: magenta;
}

.col5 {
    color: pink;
    border-color: pink;
}

.col6 {
    color: blue;
    border-color: blue;
}

.col7 {
    color: red;
    border-color: red;
}

.hidden {
    display: none !important;
}